.page9 {
  display: block;
}
.page9 p {
  position: absolute;
  background-color: #337dc1;
  color: white;
  font-size: 2rem;
  padding: 15px;
  margin: auto;
}

.職人 {
  display: flex;
  margin: auto;
  flex: 100%;
  margin: 10% 10% 6% 10%;
}
.職人 img {
  border: #337dc1 solid 3px;
  display: flex;
}
.職人 img:nth-child(2n + 1) {
  width: 25%;
  margin-top: 5%;
}
.職人 img:nth-child(2n + 2) {
  width: 50%;
  height: 25%;
  margin-left: 10%;
  margin-top: auto;
}

/*left*/
.page9 p:nth-child(2n + 1) {
  margin-top: 2%;
  margin-left: 12%;
}
.page9 p:nth-child(2n + 1) svg {
  position: absolute;
  top: 100%;
  left: 40%;
  width: 30px;
  height: 50%;
}
/*right*/
.page9 p:nth-child(2n + 2) {
  margin-top: 20%;
  margin-left: 50%;
}
.page9 p:nth-child(2n + 2) svg {
  position: absolute;
  top: 100%;
  left: 40%;
  width: 30px;
  height: 50%;
}

.page10 {
  display: block;
}
.page10 p {
  position: absolute;
  background-color: #337dc1;
  color: white;
  font-size: 2rem;
  padding: 15px;
  margin: auto;
}

/*left*/
.page10 p:nth-child(2n + 1) {
  margin-top: -8%;
  margin-left: 10%;
}
.page10 p:nth-child(2n + 1) svg {
  position: absolute;
  top: 100%;
  left: 50%;
  width: 30px;
  height: 50%;
}
/*right*/
.page10 p:nth-child(2n + 2) {
  margin-top: -8%;
  margin-left: 50%;
}
.page10 p:nth-child(2n + 2) svg {
  position: absolute;
  top: 100%;
  left: 50%;
  width: 30px;
  height: 50%;
}
.WEB {
  display: flex;
  margin: auto;
  margin: 10% 10% 6% 10%;
}
.WEB img {
  border: #337dc1 solid 3px;

}
.WEB img:nth-child(2n + 1) {
  width: 18%;
  margin-top: 5%;
}
.WEB img:nth-child(2n + 2) {
  width: 80%;
  margin-left: 5%;
  margin-top: 5%;
  margin-right: 5%;
}

