.page7 {
  display: flex;
  flex-direction: column;
}
.car {
  display: flex;
  flex-direction: row;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 10%;
  flex: 100%;
  margin-left: 10%;
}
.car img {
  border: #337dc1 solid 3px;
  margin: auto;
}
.car1 img {
  width: 100%;
}
.car2 img {
  width: 70%;
  margin-left: -25%;
  margin-top: 50%;
}
.page7 p {
  position: absolute;
  background-color: #337dc1;
  color: white;
  font-size: 1.5rem;
}

.car2 p,
.car1 p {
  position: absolute;
  background-color: #337dc1;
  color: white;
  font-size: 1.5rem;
  padding: 1%;
}
.car1 p {
  margin-top: -30%;
  margin-left: 60%;
}
.car2 p {
  margin-top: -5%;
  margin-left: -28%;
}
.car2 svg {
  position: absolute;
  top: 0px;
  right: -30px;
  width: 30px;
  height: 100%;
}
.car1 svg {
  position: absolute;
  top: 0px;
  right: 100%;
  width: 30px;
  height: 100%;
}

.page8 {
  display: flex;
  flex-direction: column;
  margin: auto;
}
.page8 h1 {
  margin-bottom: 6%;
}

.map1 img {
  width: 30%;
  margin: auto;
  margin-bottom: 6%;
  display: flex;
  border: #337dc1 solid 3px;
}
.page8 p {
  position: absolute;
  background-color: #337dc1;
  color: white;
  font-size: 1.5rem;
  padding: 15px;
}
/*right*/
.map1 p:nth-child(3n + 3) {
  margin-top: -55%;
  margin-left: 70%;
}
.map1 p:nth-child(3n + 3) svg {
  position: absolute;
  top: 0px;
  right: 100%;
  width: 30px;
  height: 100%;
}

/*down left*/
.map1 p:nth-child(3n + 1) {
  margin-top: -25%;
  margin-left: 18%;
}
.map1 p:nth-child(3n + 1) svg {
  position: absolute;
  top: 0px;
  left: 100%;
  width: 30px;
  height: 100%;
}

/*up left*/
.map1 p:nth-child(3n + 2) {
  margin-top: -60%;
  margin-left: 15%;
}
.map1 p:nth-child(3n + 2) svg {
  position: absolute;
  top: 0px;
  left: 100%;
  width: 30px;
  height: 100%;
}
