.title {
  width: 100%;
}
.title h1 {
  font-size: 2rem;
  color: #337dc1;
  border-bottom: 1px solid #d3d3d3;
  padding-bottom: 3%;
  text-align: center;
  margin: auto;
}

.drug {
  font-size: 1.7rem;
  display: flex;
  color: white;
  margin-top: 5%;
  width: 100%;
  margin-bottom: 10%;
}
.drug p {
  background-color: #337dc1;
  text-align: center;
  position: relative;
  padding: 10px 15px 10px 15px;
  background-position: 50%;
}
.left {
  margin-left: 10%;
}
.right {
  margin-left: 3%;

  padding-left: 20px;
  margin: auto;
}
.left p {
  margin: auto;
  width: 50%;
  margin-bottom: 20px;
}
.right p {
  position: absolute;
  padding: 0 10px 0 5px;
  width: 20%;
  margin: auto;
  margin-bottom: 10%;
  margin-left: 10%;
}
.left p::after {
  content: "";
  position: absolute;
  bottom: -auto; /* Ajustez la position verticale de la flèche */
  left: 50%;
  transform: translateX(-50%) translateY(30%);
  border-width: 60px 30px 60px 30px;
  border-style: solid;
  border-color: #337dc1 transparent transparent transparent;
  z-index: 2;
}
.right p::after {
  content: "";
  position: absolute;
  bottom: -auto; /* Ajustez la position verticale de la flèche */
  left: 62%;
  transform: translateX(100%) translateY(50%);
  border-width: 30px 15px 30px 15px;
  border-style: solid;
  border-color: #337dc1 transparent transparent transparent;
}
.page6 img {
  display: flex;
}
.a img {
  border: #337dc1 solid 3px;
  width: 110%;
}
.b img {
margin-left: 30%;
  margin-top: 17%;
  width: 44%;
  border: #337dc1 solid 3px;
}
@media(max-width: 768px) {

  .b img {
  margin-top: 60%;
  }
  }