@charset "UTF-8";

.page3 {
  display: flex;
  flex-direction: column;
}

.explaination {
  border-bottom: 1px solid #d3d3d3;
  text-align: center;
}

.explaination img {
  width: 400px;
}

.workimg {
  text-align: center;
}

.workimg img {
  width: 60%;
  margin: auto;
  margin-top: 30px;
}

.page4 h2 {
  text-align: center;
  color: #337dc1;
  font-size: 2.5rem;
}

.concern {
  background-color: #337dc1;
}

table {
  width: 100%;
  padding: 8%;
  margin: 0 auto;
  padding-top: 30px;
  border-collapse: separate;
  border-spacing: 0px 15px;
}

table th,
table td {
  padding: 10px;
}

table th {
  vertical-align: middle;
  position: relative;
  border: solid 3px #fff;
}

table th {
  position: relative;
  text-align: center;
  width: 50%;
  background-color: #337dc1;
  color: white;
  text-align: center;
  padding: 20px 0;
  font-size: 1rem;
}

table th:after {
  display: block;
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  top: 2px;
  right: -10px;
  border-left: 10px solid #337dc1;
  border-top: 40px solid transparent;
  border-bottom: 50px solid transparent;
}

table td {
  text-align: left;
  width: 50%;
  text-align: center;
  background-color: #fff;
  padding: 10px 0;
  font-weight: bolder;
  font-size: 1rem;
}
