@charset "UTF-8";

body {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

.main-visual {
  display: flex;
}

.main-visual li {
  padding-left: none;
  margin: 0;
}

.main-visual img {
  margin-top: 50%;
  width: 100%;
}

.side-bar {
  background-color: #337dc1;
  height: 100vh;
  width: 200px;
  margin-left: 0;
  float: left;
  padding-left: 0;
}

.section-title {
  text-align: center;
  font-size: 40px;
  margin: auto;
  color: #337dc1;
}

.section-title h1 {
  border-top: 1px solid #d3d3d3;
  border-bottom: 1px solid #d3d3d3;
  padding: 10px 0 10px 0;
  display: inline-block;
  margin: 20% 0 20% 0;
}

.downLogo {
  display: flex;
  width: 100%;
  border-top: 1px solid #d3d3d3;
  margin-top: 20px;
}

.downLogo img {
  width: 200px;
}

.capable {
  text-align: center;
  border-bottom: 1px solid #d3d3d3;
}

.capable img {
  width: 400px;
}

.page2 {
  display: flex;
  flex-direction: column;
}

.caDoList {
  margin: auto;
  background-color: #D7E5F3;
  border-radius: 10px;
  margin-top: 30px;
}

.caDoList li {
  font-weight: bolder;
  line-height: 90%;
  margin: 0 15px 0 15px;
  list-style: disc;
  font-size: 1.2rem;
}

.caDoList li::marker {
  color: #337dc1;
  font-size: 50px;
}

.cicleImg {
  text-align: center;

}
.cicleImg img {
  width: 50%;
  margin: auto;
}

