@charset "UTF-8";

@media (max-width: 768px) {
  .main-visual img {
    margin-top: 50%;
    padding-left: 5%;
    width: 250px;
  }

  .side-bar {
    background-color: #337dc1;
    height: 80vh;
    width: 50px;
    margin-left: 0;
    float: left;
    padding-left: 0;
  }

  .section-title {
    text-align: center;
    font-size: 20px;
    margin: auto;
    color: #337dc1;
  }

  .downLogo img {
    width: 120px;
  }

  .capable img {
    width: 250px;
  }

  .caDoList {
    margin: auto;
    background-color: #D7E5F3;
    border-radius: 10px;
    margin-top: 20px;
    margin: 5%;
  }

  .caDoList li {
    font-weight: 500;
    margin: 0 15px 0 15px;
    list-style: disc;
    font-size: 0.8rem;
  }

  .caDoList li::marker {
    color: #337dc1;
    font-size: 50px;
  }

  .explaination img {
    width: 250px;
  }

  .page4 h2 {
    text-align: center;
    color: #337dc1;
    font-size: 1.6rem;
  }

  table th {
    position: relative;
    text-align: center;
    width: 50%;
    background-color: #337dc1;
    color: white;
    text-align: center;
    padding: 20px 0;
    font-size: 0.8rem;
  }

  table th:after {
    display: block;
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    top: -1px;
    right: -10px;
    border-left: 10px solid #337dc1;
    border-top: 40px solid transparent;
    border-bottom: 45px solid transparent;
  }

  table td {
    text-align: left;
    width: 50%;
    text-align: center;
    background-color: #fff;
    padding: 10px 0;
    font-weight: bolder;
    font-size: 0.8rem;
  }


  .title h1 {
    font-size: 1.6rem;
  }

  .drug {
    font-size: 0.8rem;
    display: flex;
    color: white;
    margin-top: 40px;
    width: 100%;
    margin-bottom: 150px;
  }


  .introduction img {
    width: 250px;
  }

  .introduction-group {
    flex-direction: column;
  }

  .group1,
  .group2,
  .group3 {
    background-color: #D7E5F3;
    border-radius: 10px;
    width: 100%;
    margin: 3%;
    padding: 2%;
    margin-top: 20px;
  }

  .price img {
    width: 250px;
  }

  .pricecard {
    background-color: #337dc1;
    border-radius: 10px;
    width: 90%;
    margin: auto;
    padding: 2%;
  }

  .pricecard p {
    color: #ffffff;
    font-size: 1.2rem;
  }

  .pricecard .monthlyprice {
    font-size: 1.5rem;
  }

  .pricecard .monthlyprice span {
    font-size: 3rem;
    font-weight: bolder;
  }

  .attention {
    margin: auto;
  }

  .pricetable {
    text-align: center;
    border-collapse: collapse;
    border-spacing: 0;
    margin: auto 3%;
    white-space: nowrap;
  }

  .pricetable th {
    padding: 10px;
    border: solid 3px #337dc1;
    background-color: #ffffff;
    color: #333;
    font-size: 1.2rem;
  }

  .pricetable td {
    padding: 10px;
    border: solid 3px #337dc1;
    color: #333;
    font-size: 0.9rem;
    font-weight: bold;
  }

  .pricetable th:last-child {
    color: #337dc1;
    font-weight: bolder;
    font-size: 1.2rem;
  }

  .fatN td:nth-child(4n+2) {
    font-size: 1.4rem;
  }

  .fatN td:nth-child(4n+3) {
    font-size: 1.4rem;
  }

  .fatN td:nth-child(4n+4) {
    font-size: 1.4rem;
  }

}

@media(max-width: 360px) {

.page4 h2 {
  text-align: center;
  color: #337dc1;
  font-size: 1.2rem;
}

.page6  h1 {
  font-size: 1rem;
  color: #337dc1;
  border-bottom: 1px solid #d3d3d3;
  padding-bottom: 3%;
  text-align: center;
  margin: auto;
}


table {
  width: 90%;
  margin: auto 2%;
  padding-top: 30px;
  border-collapse: separate;
  border-spacing: 0px 15px;
}

table th,
table td {
  padding: 10px;
}

table th {
  vertical-align: middle;
  position: relative;
  border: solid 2px #fff;
}

table th {
  position: relative;
  text-align: center;
  width: 50%;
  background-color: #337dc1;
  color: white;
  text-align: center;
  font-size: 0.8rem;
}

table th:after {
  display: block;
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  top: 1px;
  right: -10px;
  border-left: 10px solid #337dc1;
  border-top: 45px solid transparent;
  border-bottom: 56px solid transparent;
}

table td {
  width: 50%;
  text-align: center;
  background-color: #fff;
  font-weight: 400;
  font-size: 0.8rem;
}

  .left p,
  .right p,
  .page7 p,
  .page8 p,
  .page9 p,
  .page10 p,
  .page11 p {
    font-size: 0.8rem;
    padding: 2%;
  }

  .car img {
    margin-top: 30%;
  }

  .b img {
    margin-top: 100%;
  }

  .page7 p {
    margin-top: -50%;
  }

  .page7 p:nth-child(2) {
    margin-top: 5%;
    margin-left: 10%;
  }

  .page7 p::after,
  .page8 p:nth-child(3n):after,
  .page8 p:nth-child(3n +1):after,
  .page8 p:nth-child(3n+2):after,
  .left p::after,
  .right p::after,
  .page9 p:nth-child(2n + 1):after,
  .page9 p:nth-child(2n + 2):after,
  .page10 p:nth-child(2n + 1):after,
  .page10 p:nth-child(2n + 2):after,
  .page11 p:nth-child(2n + 1):after,
  .page11 p:nth-child(2n + 2):after {
    border: none;
  }

  .title h1,
  h2,
  .page4 h2 {
    font-size: 1.5rem;
  }

  .downLogo img {
    width: 30%;
  }

  .explaination img,
  .capable img {
    width: 60%;
  }

  .page8 p:nth-child(3n + 3) {
    margin-top: 30%;
    margin-left: 5%;
  }

  .page8 p:nth-child(3n + 2) {
    margin-top: 15%;
    margin-left: 65%;

  }

  .page8 p:nth-child(3n + 1) {
    margin-top: 7%;
    margin-left: 2%;

  }

  .page9 img,
  .page10 img {
    margin-top: 10%;
  }

  .WEB img:nth-child(2n + 2) {
    width: 70%;
    margin-top: 18%;
  }

  .page11 p:nth-child(2n + 1) {
    margin-top: 34%;
    margin-left: 7%;
  }

  .page11 p:nth-child(2n + 2) {
    margin-top: 0%;
  }

  .group1,
  .group2,
  .group3 {
    background-color: #D7E5F3;
    border-radius: 10px;
    width: 80%;
    margin: 20px auto;
  }

.group1 p,
.group2 p,
.group3 p {
  font-size: 0.7rem;
  font-weight: bold;
  color: #333333;
}

.group1 .before,
.group2 .before,
.group3 .before {
  background-color: #337dc1;
  text-align: left;
  font-size: 0.5rem;
  font-weight: 400;
  white-space: nowrap;
}

.group1 .arrow,
.group2 .arrow,
.group3 .arrow {
  width: 40px;
  margin: auto;
}

.group1 .after,
.group2 .after,
.group3 .after  {
  background-color: #337dc1;
  text-align: left;
  font-size: 0.6rem;
  font-weight: 400;
  white-space: nowrap;
  margin: auto;
}


  .pricecard {
    background-color: #337dc1;
    border-radius: 10px;
    width: 80%;
    margin: auto;
    padding: 2%;
    white-space: nowrap;
  }

  .pricecard p {
    color: #ffffff;
    font-size: 1rem;
  }
  
  .pricecard .monthlyprice {
    font-size: 1.2rem;
    letter-spacing: 1px;
  }
  
  .pricecard .monthlyprice span {
    font-size: 3.5rem;
    font-weight: bolder;
  }
  
  .attention{
    margin: auto;
  }
  
  .attention li {
    font-size: 0.7rem;
    text-align: left;
  }

  .pricetable {
    text-align: center;
    border-collapse: collapse;
    border-spacing: 0;
    margin: auto 3%;
    overflow: auto;
  }

  .pricetable th {
    padding: 7px;
    border: solid 3px #337dc1;
    background-color: #ffffff;
    color: #333;
    font-size: 1.2rem;
    white-space: nowrap;
  }

  .pricetable td {
    padding: 7px;
    border: solid 3px #337dc1;
    color: #333;
    font-size: 0.9rem;
    white-space: nowrap;
  }

  .pricetable th:last-child {
    color: #337dc1;
    font-weight: bold;
    font-size: 1.2rem;
  }

  .fatN td:nth-child(4n+2) {
    font-size: 1.4rem;
  }

  .fatN td:nth-child(4n+3) {
    font-size: 1.4rem;
  }

  .fatN td:nth-child(4n+4) {
    font-size: 1.4rem;
  }

  .scroll {
    overflow-x: scroll;
    scrollbar-width: auto;
    scrollbar-color: #337dc1, #ffffff;
  }
}